body{
    margin: 0;
}
.rem-masonry{
    list-style: none;
    position: relative;
    margin: auto;
    width: 100%;
    padding: 0;
    min-height: 100vh;
}

.rem-masonry li{
    height: auto;
    position: absolute;
    box-sizing: border-box;
}

.rem-masonry li img{
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}

.remMasonry-modal-overlay{
    position: fixed;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    transition: all .3s ease-in;
}

.remMasonry-modal{
    max-width: 82vw;
    max-height: 80vw;
    margin: auto;
    padding: 0 42px;
}

.remMasonry-modal img{
    max-width: 100%;
    height: auto;
}

.close-container {
    position: relative;
    margin-left: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: -42px;
}

.leftright {
    height: 4px;
    width: 40px;
    position: absolute;
    margin-top: 19px;
    background-color: rgba(255,255,255,.7);
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    height: 4px;
    width: 40px;
    position: absolute;
    margin-top: 19px;
    background-color: rgba(255,255,255,.7);
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

label {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    opacity: 0;
}

.close {
    margin: 40px 0 0 0;
    position: absolute;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: #fff;
}

.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: #fff;
}

.close-container:hover label {
    opacity: 1;
}

