body{
    margin: 0;
}
.rem-masonry{
    list-style: none;
    position: relative;
    margin: auto;
    width: 100%;
    padding: 0;
    min-height: 100vh;
}

.rem-masonry li{
    height: auto;
    position: absolute;
    box-sizing: border-box;
}

.rem-masonry li img{
    width: 100%;
    height: auto;
    display: block;
}
